@model BlueZero.Air.Models.ManageAccountModel

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal" })) 
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-error" })

    <fieldset>
        <div class="control-group">
            @Html.LabelFor(m => m.OldPassword, new {@class = "control-label"})
            <div class="controls">                                                       
                <div>
                    @Html.TextBoxFor(m => m.OldPassword, new { placeholder = "Enter old password..." })                                
                </div>
                @if (!Html.ViewData.ModelState.IsValidField("OldPassword"))
                {
                @Html.ValidationMessageFor(m => m.OldPassword, null, new {@class = "help-inline"})                                        
                }
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
            <div class="controls">                                                       
                <div>
                    @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "Enter new password..." })                                
                </div>
                @if (!Html.ViewData.ModelState.IsValidField("NewPassword"))
                {
                @Html.ValidationMessageFor(m => m.NewPassword, null, new {@class = "help-inline"})                                        
                }
            </div>
        </div>
        <div class="control-group">
            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
            <div class="controls">                                                       
                <div>
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm new password..." })                                
                </div>
                @if (!Html.ViewData.ModelState.IsValidField("ConfirmPassword"))
                {
                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class = "help-inline"})                                        
                }
            </div>
        </div>
        <div class="control-group">
            <div class="controls">     
                <button type="submit" class="btn btn-large btn-primary" data-loading-text="Changing password...">Confirm</button>
            </div>
        </div>
    </fieldset>
}
