@model BlueZero.Air.Models.LoginModel

@{
    ViewBag.Title = "Sign In";
}

<div class="row">
    <div class="span10 offset1">
        <div class="page-header">
            <h1>@ViewBag.Title <small>Use a local account to sign in.</small></h1>
        </div>

        <div class="well">
            <section id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-error" })

                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(m => m.EmailAddress, new {@class = "control-label"})
                            <div class="controls">                                                       
                                @Html.TextBoxFor(m => m.EmailAddress, new { @type = "email", placeholder = "Enter email address..." })                                
                                @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "help-inline" })                                        
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Password, new {@class = "control-label"})
                            <div class="controls">                                               
                                @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password...", autocomplete = "off" })   
                                @Html.ValidationMessageFor(m => m.Password, null, new { @class = "help-inline" })
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">     
                                <label class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe) Remember me
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">     
                                <button type="submit" class="btn btn-large btn-primary" data-loading-text="Signing in...">Sign In</button>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">     
                                @Html.ActionLink("Forgot your password?", "ForgotPassword", "Account")
                            </div>
                        </div>
                    </fieldset>
                }
            </section>            
        </div>
    </div>
    
@*    
    <div class="span6">
        <div class="well">    
            <section class="social" id="socialLoginForm">
                <h2>Use another service to sign in.</h2>
                @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>    
*@

</div>

@section scripts {    
    @Scripts.Render("~/bundles/bootstrap-validation")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginLink').hide()
        });

        $(function () {
            $("form").validate();
        });
    </script>
}
