@model BlueZero.Air.Models.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
}

<div class="row">
    <div class="span10 offset1">
        <div class="page-header">
            <h1>@ViewBag.Title <small>Enter your new password.</small></h1>
        </div>
        <div class="well">
            <section id="resetPasswordForm">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal" })) 
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(m => m.Username)
                    @Html.HiddenFor(m => m.Token)
                    
                    @Html.ValidationSummary(true, null, new { @class = "alert alert-block alert-error" })                                       
                                                           
                    <fieldset>
                        <div class="control-group">
                            @Html.LabelFor(m => m.NewPassword, new {@class = "control-label"})
                            <div class="controls">                                                       
                                <div>
                                    @Html.TextBoxFor(m => m.NewPassword, new { placeholder = "Enter new password..." })                                
                                </div>
                                @if (!Html.ViewData.ModelState.IsValidField("NewPassword"))
                                {
                                @Html.ValidationMessageFor(m => m.NewPassword, null, new {@class = "help-inline"})                                        
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new {@class = "control-label"})
                            <div class="controls">                                                       
                                <div>
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm new password..." })                                
                                </div>
                                @if (!Html.ViewData.ModelState.IsValidField("ConfirmPassword"))
                                {
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new {@class = "help-inline"})                                        
                                }
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">     
                                <button type="submit" class="btn btn-large btn-primary" data-loading-text="Changing password...">Confirm</button>
                            </div>
                        </div>
                    </fieldset>
                }
            </section>            
        </div>
    </div>    
</div>

@section scripts {    
    @Scripts.Render("~/bundles/bootstrap-validation")

    <script type="text/javascript">
        $(document).ready(function () {
            $('#loginLink').hide()
        });

        $(function () {
            $("form").validate();
        });
    </script>
}
